<div class='panel panel-primary' *ngIf='training'>
    <div class=' panel-heading ' style='font-size:large '>
        {{pageTitle + training.tname}}
    </div>

    <div class='panel-body '>
        <div class='row row-grid '>
            <div class='col-md-6 '>
                <div class='row row-grid '>
                    <div class='col-md-3 '>Name:</div>
                    <div class='col-md-6 '>{{training.tname}}</div>
                </div>
                <div class='row row-grid '>
                    <div class='col-md-3 '>Status:</div>
                    <div class='col-md-6 '>{{training.status}}</div>
                </div>
                <div class='row row-grid '>
                    <div class='col-md-3 '>Mode:</div>
                    <div class='col-md-6 '>{{training.mode | uppercase}}</div>
                </div>
                <div class='row row-grid '>
                    <div class='col-md-3 '>Description:</div>
                    <div class='col-md-6 '>{{training.desc}}</div>
                </div>
                <div class='row row-grid '>
                    <div class='col-md-3 '>Duration:</div>
                    <div class='col-md-6 '>{{training.duration}} Hours</div>
                </div>
                <div class='row row-grid '>
                    <div class='col-md-3 '>Popularity:</div>
                    <div class='col-md-6 '>
                        <app-trainings-star-rating [popularity]='training.duration ' (ratingClicked)='onRatingClicked($event) '></app-trainings-star-rating>
                    </div>

                    <div class='col-md-6 '>
                        <img class='center-block img-responsive ' [style.width.px]='200 ' [style.margin.px]='2 '>
                    </div>
                </div>
            </div>
            <div class='col-md-6 '>
                <img class='center-block img-responsive ' [style.width.px]='200 ' [style.margin.px]='2 ' [style.height.px]='200 ' [src]='training.imageUrl ' [title]='training.tname ' onError=" this.src='http://iimbg.ac.in/sites/all/themes/iimc/images/no-image.jpg ' ">
            </div>
        </div>
    </div>
    <div class='panel-footer '>
        <a class='btn btn-default ' (click)='onBack() ' style='width:80px '>
            <i class='glyphicon glyphicon-chevron-left '></i> Back
        </a>
    </div>

</div>