<div class='panel panel-primary' *ngIf='training'>
    <div class=' panel-heading ' style='font-size:large '>
        {{pageTitle + ' : '+ training.tname}}
        <span class="glyphicon glyphicon-pencil pull-right" (click)="open()"></span>
    </div>
    <div class="container-fluid text-center">
        <div class='row content'>
            <div class='col-md-4 text-left'>
                <div [@dialog] *ngIf="visible" class="dialog" [style.min-height.px]='minHeight' [style.max-width.px]='maxWidth'>
                    <div class='panel panel-primary'>
                        <div class='panel-heading' style='font-size:large'>
                            Edit Training {{pageTitle}}
                        </div>
                        <form>
                            <div class='panel-body'>
                                <div class="form-group">
                                    <label for="tname">Name</label>
                                    <input id="tname" class="form-control" placeholder="Enter Training's' Name" aria-describedby="tnameHelp">
                                    <small id="tnameHelp" class="form-text text-muted">This name will uniquely identify the training from the list of all the trainings.</small>
                                </div>

                                <div class="form-group">
                                    <label for="tcd">Code</label>
                                    <input id="tcd" class="form-control" placeholder="Enter Training's code" aria-describedby="tcdHelp">
                                    <small id="tcdHelp" class="form-text text-muted">This will be fixed length predefined literals to identify and classify trainings.</small>
                                </div>

                                <div class="form-group">
                                    <label for="tmode">Mode</label>
                                    <input id="tmode" class="form-control" placeholder="Enter Training's mode" aria-describedby="tmodeHelp">
                                    <small id="tmodeHelp" class="form-text text-muted">It describes the medium with which the training will be imparted to all the users like using online videos, professional trainer, recorded sessions etc.</small>
                                </div>

                                <div class="form-group">
                                    <label for="tdesc">Description</label>
                                    <textarea class="form-control" id="tdesc" rows="3" placeholder="Enter Training's description"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <button *ngIf=" closable " (click)="close() " aria-label="Close " class="dialog__close-btn ">X</button>
                </div>
                <div *ngIf="visible " class="overlay " (click)="close() "></div>
            </div>
        </div>
    </div>

    <div class='panel-body '>
        <div class='row row-grid '>
            <div class='col-md-6 '>
                <div class='row row-grid '>
                    <div class='col-md-3 '>Name:</div>
                    <div class='col-md-6 '>{{training.tname}}</div>
                </div>
                <div class='row row-grid '>
                    <div class='col-md-3 '>Status:</div>
                    <div class='col-md-6 '>{{training.status}}</div>
                </div>
                <div class='row row-grid '>
                    <div class='col-md-3 '>Mode:</div>
                    <div class='col-md-6 '>{{training.mode | uppercase}}</div>
                </div>
                <div class='row row-grid '>
                    <div class='col-md-3 '>Description:</div>
                    <div class='col-md-6 '>{{training.desc}}</div>
                </div>
                <div class='row row-grid '>
                    <div class='col-md-3 '>Duration:</div>
                    <div class='col-md-6 '>{{training.duration}} Hours</div>
                </div>
                <div class='row row-grid '>
                    <div class='col-md-3 '>Popularity:</div>
                    <div class='col-md-6 '>
                        <app-trainings-star-rating [popularity]='training.duration ' (ratingClicked)='onRatingClicked($event) '></app-trainings-star-rating>
                    </div>

                    <div class='col-md-6 '>
                        <img class='center-block img-responsive ' [style.width.px]='200 ' [style.margin.px]='2 '>
                    </div>
                </div>

                <div class='row row-grid'>
                    <div class='col-md-8'>
                        <br><br><br>
                        <ul class="nav nav-tabs">
                            <li [class]='active'><a (click)=" onTabClick( ' active ') ">Active</a></li>
                            <li [class]='completed '><a (click)="onTabClick( 'completed ') ">Completed</a></li>
                            <li [class]='abandoned '><a (click)="onTabClick( 'abandoned ') ">Abandoned</a></li>
                        </ul>
                        <div class=' container '>
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-6 '>
                <img class='center-block img-responsive ' [style.width.px]='200 ' [style.margin.px]='2 ' [style.height.px]='200 ' [src]='training.imageUrl ' [title]='training.tname ' onError=" this.src='http://iimbg.ac.in/sites/all/themes/iimc/images/no-image.jpg ' ">
            </div>
        </div>
    </div>
    <div class='panel-footer '>
        <a class='btn btn-default ' (click)='onBack() ' style='width:80px '>
            <i class='glyphicon glyphicon-chevron-left '></i> Back
        </a>
    </div>

</div>
<div class='container ' style="display: none; ">
    <router-outlet></router-outlet>
</div>