<div *ngIf="tab=='active'">
    <br><br>Work in progess user...long way to go .... <br><br>
    <table class="table table-condensed table-striped fixed">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Active1</td>
                <td>User1</td>
                <td>active1@user1.com</td>
            </tr>
            <tr>
                <td>Active2</td>
                <td>User2</td>
                <td>active2@user2.com</td>
            </tr>
            <tr>
                <td>Active3</td>
                <td>User3</td>
                <td>active3@user3.com</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="tab=='completed'">
    <br><br> Proud users who completed the training.
    <br><br>
    <table class="table table-condensed table-striped fixed">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Completed1</td>
                <td>User1</td>
                <td>Completed1@user1.com</td>
            </tr>
            <tr>
                <td>Completed2</td>
                <td>User2</td>
                <td>Completed2@user2.com</td>
            </tr>
            <tr>
                <td>Completed3</td>
                <td>User3</td>
                <td>Completed3@user3.com</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="tab=='abandoned'">
    <br><br> Unfortunate users who abondoned the training in between!!!
    <br><br>
    <table class="table table-condensed table-striped fixed">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Abandoned1</td>
                <td>User1</td>
                <td>Abandoned1@user1.com</td>
            </tr>
            <tr>
                <td>Abandoned2</td>
                <td>User2</td>
                <td>Abandoned2@user2.com</td>
            </tr>
            <tr>
                <td>Abandoned3</td>
                <td>User3</td>
                <td>Abandoned3@user3.com</td>
            </tr>
        </tbody>
    </table>
</div>