<div *ngIf="tab=='a'">
    <br><br>
    <table class="table table-condensed table-striped fixed">
        <thead>
            <tr>
                <th>PS#</th>
                <th>Name</th>
                <th>% Completion</th>
                <th>Target Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let trainee of trainees'>
                <td>{{trainee.psno}}</td>
                <td>{{trainee.first_name}} , {{trainee.last_name}} ({{trainee.opco}})</td>
                <td>100%</td>
                <td>{{trainee.target_date | date : 'mediumDate'}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="tab=='c'">
    <br><br>
    <table class="table table-condensed table-striped fixed">
        <thead>
            <tr>
                <th>PS#</th>
                <th>Name</th>
                <th>Completion Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let trainee of trainees'>
                <td>{{trainee.psno}}</td>
                <td>{{trainee.first_name}} , {{trainee.last_name}} ({{trainee.opco}})</td>
                <td>{{trainee.status_date | date : 'mediumDate'}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="tab=='p'">
    <br><br>
    <table class="table table-condensed table-striped fixed">
        <thead>
            <tr>
                <th>PS#</th>
                <th>Name</th>
                <th>% Completion</th>
                <th>Abandon Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let trainee of trainees'>
                <td>{{trainee.psno}}</td>
                <td>{{trainee.first_name}} , {{trainee.last_name}} ({{trainee.opco}})</td>
                <td>73%</td>
                <td>{{trainee.status_date | date : 'mediumDate'}}</td>
            </tr>
        </tbody>
    </table>
</div>